<h1><%= Warehouse.human_attribute_name(:new_warehouse)%></h1>
<% if(@warehouse.errors.any?) %>
  <p><%= Warehouse.human_attribute_name(:check_the_errors)%>:</p>
  <ul>
    <% @warehouse.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= render 'form' %>
